/* Site-wide look-and-feel */

body {
  margin: 5% 10%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
}

main {
  padding: 10px;
}

p, ul {
  line-height: 1.5;
  font-size: 12pt;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  color:blue
}

h1 {
  color: navy;
}

/* End Site-wide look-and-feel */

/* Header formatting */

.logo_box {
 width: 90%;
 background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
	width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  margin-top: 5px;
  border: 2px solid lightgrey;
  border-radius: 5%;
  text-decoration: none;
  padding: 5px;
  font-size: large;
  color: black;
  background-color: #EEEEEE;
}

nav .active {
  background-color: lightgrey;
  text-decoration: bold;
}
nav a:hover {
  background-color: white;
}

.nav_normal {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav_box {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 90%;
	background-color: white;
}

header {
  text-align: center; 
}

/* End Header Formatting */

/* Footer Formatting */

.footer_logo {
  margin-top: 10px;
  margin-bottom: 15px;
  max-height: 50px;
}

footer {
  text-align: center;
  font-size: 12pt;
}

.footer_text {
	font-size: 10pt;
	margin: 5px;
}

/* End Footer Formatting */

/* Page-specifics: if this gets too large, can be split into separate stylesheets */

/* Home */

.home_main {
   display: flex;
}

.home_content {
  width: 75%;
}

.home_header {
	font-style: italic;
	font-size: 16pt;
}

/* Donate */

.donate_link {
  margin-left: 20%;
}

/* Individual horse pages */

.gallery {
  max-width: 100px;
  max-height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.large_image_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

.prev_image, .next_image { 
  display: inline-block;
  opacity: 100%;
  font-size: 10vh;
  padding-top: 35vh;
  user-select: none;
  padding-left: 5px;
  padding-right: 5px;
}

.prev_image {
  left: 0;
}

.next_image {
  right: 0;
}

.prev_image:hover, .next_image:hover {
  opacity: 40%;
}

.inline { display: inline; }

/* avoid display: none to still take up the same amount of flex space horizontally */
.hidden{ color: white; opacity: 0%; user-select: none; }

#fullSizeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jog_video {
 display: flex;
 justify-content: center;
}

/* Available/Placed horses list pages */

.available_snippet_inner_div {
  display: flex;
  margin-top: 5px;
}

.snippet_thumb {
  height: 100px;
  margin-right: 20px;
}

.available_title {
  text-decoration: none;
  font-size: large;
  color: rgb(120, 120, 120);
}

/* Mobile (or tiny desktop) */


.nav_box_mobile {
	display: none;
  margin-left: auto;
  margin-right: auto;
	width: 90%;
}

.hamburger {
  width: 20%;
  z-index: 5;
}

.hamburger div {
  width: 100%;
  height: 7px;
  border-radius: 3px;
  background-color: #f8982b;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}


/**
Nav Styles
**/
.nav {
  width: 50%;
  height: 100%;
  background-color: lightgray;
  transition: all 0.3s ease-in-out;
  display: none;
}

#toggle {
  display: none;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  display:contents;
}

.nav_mobile {
  margin: auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
}

.nav_link {
  margin-top: 5px;
  text-decoration: none;
  padding: 5px;
  font-size: large;
  color: black;
}

@media screen and (max-width: 480px) {
  .nav_box {
    display: none;
  }
  .nav_box_mobile {
    display: flex;
  }
}