body {
  margin: 5% 10%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
}

main {
  padding: 10px;
}

.logo_box {
 width: 90%;
 background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
	width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer_logo {
  margin-top: 10px;
  margin-bottom: 15px;
  max-height: 50px;
}

hr {
  color:blue
}

h1 {
  color: navy;
}

.home_main {
   display: flex;
}

.home_content {
  width: 75%;
}

.donate_link {
  margin-left: 20%;
}

p, ul {
  line-height: 1.5;
  font-size: 12pt;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  margin-top: 5px;
  border: 2px solid lightgrey;
  border-radius: 5%;
  text-decoration: none;
  padding: 5px;
  font-size: large;
  color: black;
  background-color: #EEEEEE;
}

nav .active {
  background-color: lightgrey;
  text-decoration: bold;
}
nav a:hover {
  background-color: white;
}

nav {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav_box {
	 display: block;
  margin-left: auto;
  margin-right: auto;
	width: 90%;
	background-color: white;
}

header {
  text-align: center; 
}

.home_header {
	font-style: italic;
	font-size: 16pt;
}

footer {
  text-align: center;
  font-size: 12pt;
}

.footer_text {
	font-size: 10pt;
	margin: 5px;
}


.gallery {
  max-width: 100px;
  max-height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.large_image_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

.prev_image, .next_image { 
  display: inline-block;
  opacity: 100%;
  font-size: 10vh;
  padding-top: 35vh;
}


.prev_image {
  left: 0;
}

.next_image {
  right: 0;
}

.prev_image:hover, .next_image:hover {
  opacity: 40%;
}

.inline { display: inline; }

/* avoid display: none to still take up the same amount of flex space horizontally */
.hidden{ color: white; opacity: 0%; user-select: none; }

.modal_close_layer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  align-content: center;
}

.modal_spinner {
  display: inline-block;
  margin-left: 40%;
  font-size: 24pt;
}

#fullSizeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imageGallery {
  display: flex;
  justify-content: center;
}

.jog_video {
 display: flex;
 justify-content: center;
}


